
<table class='contenedor' border-width: 1px;
border-style: solid;>
            <tr id='fila'>
                <td align='center' width='210px'><span class='letra-chica'>MINISTERIO DE DESARROLLO RURAL Y TIERRAS<span><br /><img src='imagenes/logo-sipmdryt.png' width='250' height='80px' /></td>
                <td align='center'><h3>CERTIFICACI&Oacute;N PRESUPUESTARIA</h3><br /><h5>ORIGINAL PARA TRAMITES</h5></td>
                <td align='center' width='120px'><span class='letra-chica'>".$certificados[0]->gestion->format('d/m/Y')." ".date('H:i:s')." <br /><br />Gestion: ".$gestion."<br /><br /> Pagina {PAGENO}<br /></span></td>							
            </tr>					
        </table>
";



$html = "
        <table class='contenedor' border='1'>
            <tr>
                <td>
                    <table class='letra-mediana' >
                        <tr>
                            <td class='letra-muy-chica' width='30px'>Lugar:</td>
                            <td width='35px'><input class='in1' type='text' value='LAP'  /></td>
                            <td width='280px'><input class='in2' type='text' value='LA PAZ'  /></td>
                            <td width='70px' class='letra-muy-chica'>Fecha de Emision:</td>						
                            <td width='80px' ><input class= 'in3' type='text' value='".$certificados[0]->gestion->format('d/m/Y')."'  /></td>
                            <td width='60px' class='letra-muy-chica'>Tipo de Gasto:</td>
                            <td width='120px' ><input class='in4' type='text' value='".$tipo_gasto->descrip."' /></td>						
                        </tr>
                        <tr>
                            <td class='letra-muy-chica'>Entidad:</td>
                            <td><input class='in1' type='text' value='".$certificados[0]->entidad."'  /></td>
                            <td><input class='in2' type='text' value='MINISTERIO DE DESARROLLLO RURAL Y TIERRAS'  /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>						
                        </tr>
                        <tr>
                            <td class='letra-muy-chica'>Dir. Administrativa:</td>
                            <td><input class='in1' type='text' value='".sprintf("%02s",$das->da)."'  /></td>
                            <td><input class='in2' type='text' value='".$das->descDa."'  /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>						
                        </tr>
                        <tr>
                            <td class='letra-muy-chica'>Unidad Ejecutora:</td>
                            <td><input class='in1' type='text' value='".sprintf("%02s",$das->ue)."'  /></td>
                            <td><input class='in2' type='text' value='".$das->descUe."'  /></td>
                            <td></td>
                            <td></td>
                            <td class='letra-muy-chica'>Secuencia:</td>
                            <td><input type='text' value='".sprintf("%05s",$certificados[0]->secuencia)."' /></td>						
                        </tr>						
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width='720px'>
                        <tr>
                            <td colspan='7' class='subtitulo'>DATOS UNIDAD EJECUTORA SOLICITANTE - PROYECTO Y/O PROGRAMA</td>	
                        </tr>
                        <tr>
                            <td width='130px;'>Estructura Program&aacute;tica:</td>
                            <td width='50px'><input class='in5' type='text' value='".sprintf("%02s",$certificados[0]->prog)."'  /></td>
                            <td width='50px'><input class='$in' type='text' value='".sprintf("%04s",$certificados[0]->proy)."'  /></td>
                            <td width='50px'><input class='in7' type='text' value='".sprintf("%03s",$certificados[0]->act)."'  /></td>
                            <td width='280px'><textarea rows='3' cols='50'>".$cat_prog->nombre."</textarea></td>
                            <td width='50px'>SISIN:</td>
                            <td><input class='in9' type='text' value='".$cat_prog->sisin."'  /></td>
                        </tr>
                    </table>
                </td>
            </tr>";
    

        
       
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td width='50px'>&nbsp;</td>
                                <td width='50px'>Fuente:</td>
                                <td width='40px'><input class='in10' type='text' value='".$partida->ff."' /></td>
                                <td width='200px'><input class='in11' type='text' value='".$fuente['descrip']."'  /></td>
                                <td width='200px'>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>Organismo:</td>
                                <td><input class='in10' type='text' value='".$partida->org."'  /></td>
                                <td><input class='in11' type='text' value='".$org['descrOrg']."'  /></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan='5'>										
                                    <table border='1' style='border-collapse: collapse; width:750px;' class='partidas-desc'>
                                        <tr>
                                            <td class='texto-centro con' width='30px'>PROG</td>
                                            <td class='texto-centro con' width='30px'>PROY</td>
                                            <td class='texto-centro' width='30px'>ACT</td>
                                            <td class='texto-centro' width='30px'>FTE</td>
                                            <td class='texto-centro' width='30px'>ORG</td>
                                            <td class='texto-centro' width='30px'>OBJ.GASTO</td>
                                            <td class='texto-centro' width='100px'>DESCRIPCION</td>
                                            <td class='texto-centro' width='60px'>PPTO. LEY</td>
                                            <td class='texto-centro' width='60px'>PPTO. MOD.</td>
                                            <td class='texto-centro' width='60px'>PPTO. VIG.</td>
                                            <td class='texto-centro' width='60px'>EJEC_COM.</td>
                                            <td class='texto-centro' width='60px'>SALDO EJEC.</td>
                                            <td class='texto-centro' width='60px'>RESERVA</td>
                                            <td class='texto-centro' width='60px'>PPTO. DISP.</td>
                                        </tr>
                                        <tr>
                                            <td class='texto-centro'>".sprintf("%02s",$partida->prog)."</td>
                                            <td class='texto-centro'>".sprintf("%04s",$partida->proy)."</td>
                                            <td class='texto-centro'>".sprintf("%03s",$partida->act)."</td>
                                            <td class='texto-centro'>".$partida->ff."</td>
                                            <td class='texto-centro'>".$partida->org."</td>
                                            <td class='texto-centro'>".$partida->part."</td>
                                            <td>".$part['descrip']."</td>
                                            <td class='texto-derecha'>". number_format($ppto_ley=$partida->pptoLey, 2, '.', ',')."</td>
                                            <td class='texto-derecha'>".number_format($ppto_mod=$partida->pptoMod, 2, '.', ',')."</td>
                                            <td class='texto-derecha'>".number_format($ppto_vig=($partida->pptoLey + $partida->pptoMod), 2, '.', ',')."</td>
                                            <td class='texto-derecha'>".number_format($ejec_com=$partida->ejeCom, 2, '.', ',')."</td>
                                            <td class='texto-derecha'>".number_format($saldo_ejec=($partida->pptoLey + $partida->pptoMod - $partida->ejeCom ), 2, '.', ',')."</td>
                                            <td class='texto-derecha'>".number_format($reserva=$partida->reserva, 2, '.', ',')."</td>
                                            <td class='texto-derecha'>".number_format($ppto_disp=($partida->pptoLey + $partida->pptoMod - $partida->ejeCom - $partida->reserva), 2, '.', ',')."</td>
                                        </tr>												
                                    </table>
                                    <table border='0' style='border-collapse: collapse; width:750px;' class='partidas-desc'>
                                        <tr>
                                            <td width='30px'></td>
                                            <td width='30px'>TOTAL</td>
                                            <td width='30px'></td>													
                                            <td width='30px'>".$partida->ff."</td>
                                            <td width='30px'>".$partida->org."</td>
                                            <td width='30px'></td>
                                            <td width='110px'></td>
                                            <td width='60px' class='texto-derecha'>". number_format($partida->pptoLey, 2, '.', ',')."</td>
                                            <td width='60px' class='texto-derecha'>".number_format($partida->pptoMod, 2, '.', ',')."</td>
                                            <td width='60px' class='texto-derecha'>".number_format(($partida->pptoLey + $partida->pptoMod), 2, '.', ',')."</td>
                                            <td width='60px' class='texto-derecha'>".number_format($partida->ejeCom, 2, '.', ',')."</td>
                                            <td width='60px' class='texto-derecha'>".number_format(($partida->pptoLey + $partida->pptoMod - $partida->ejeCom ), 2, '.', ',')."</td>
                                            <td width='60px' class='texto-derecha'>".number_format($partida->reserva, 2, '.', ',')."</td>
                                            <td width='60px' class='texto-derecha'>".number_format(($partida->pptoLey + $partida->pptoMod - $partida->ejeCom - $partida->reserva), 2, '.', ',')."</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
     
        <tr>
            <td style='background-color:#ccc;' height='30px'>
                <table width='730px'>
                    <tr>
                        <td width='30px'></td>
                        <td width='90px' class='negrita'>TOTAL (FF - ORG)</td>													
                        <td width='30px'></td>
                        <td width='30px'></td>
                        <td width='115px'></td>
                        <td width='60px' class='texto-derecha negrita'>". number_format($totales['ppto_ley'], 2, '.', ',')."</td>
                        <td width='60px' class='texto-derecha negrita'>".number_format($totales['pptoMod'], 2, '.', ',')."</td>
                        <td width='60px' class='texto-derecha negrita'>".number_format($totales['ppto_vig'], 2, '.', ',')."</td>
                        <td width='60px' class='texto-derecha negrita'>".number_format($totales['ejec_com'], 2, '.', ',')."</td>
                        <td width='60px' class='texto-derecha negrita'>".number_format($totales['saldo_ejec'], 2, '.', ',')."</td>
                        <td width='60px' class='texto-derecha negrita'>".number_format($totales['reserva'], 2, '.', ',')."</td>
                        <td width='60px' class='texto-derecha negrita'>".number_format($totales['ppto_disp'], 2, '.', ',')."</td>
                    </tr>							
                </table>
            </td>					
        </tr>
        <tr>
            <td height='30px'>
                <table width='730px' >
                    <tr>
                        <td width='690px' class='totales-completos'>Son: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".ucfirst($enBolivianos)."</td>
                        <td></td>
                    </tr>
                </table>												
            </td>					
        </tr>
        <tr>
            <td height='90px'>
                <table width='730px' >
                    <tr>
                        <td width='690px' class='letra-grande' valign='top'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resumen de Operaci&oacute;n:</b><br /><pre>".$certificados[0]->obs."</pre></td>								
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width='730px' >
                    <tr>
                        <td width='50px'>&nbsp;</td>
                        <td width='30px'>Moneda</td>
                        <td width='40px'><input class='inp1' type='text' value='69' /></td>
                        <td width='80px'><input class='inp2' type='text' value='BOLIVIANOS' /></td>
                        <td width='280px'>&nbsp;</td>
                        <td>Fecha de Validez</td>
                        <td><input type='text' value='31/12/".$gestion."' /></td>								
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height='100px'>
                <table>
                    <tr>
                        <td height='100px' width='240px' class='texto-centro abajo'>1-Firma</td>
                        <td width='240px' class='texto-centro abajo'>2-Firma</td>
                        <td width='240px' class='texto-centro abajo'>3-Firma</td>
                    </tr>
                </table>
            </td>
        </tr>
	
        </table>				
